.fichierExcel {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

.fileupload-loading {
    float: right;
    left: 230px;
    top: 66px;
    width: 128px;
    height: 128px;
    position:absolute; 
    background: url("../../assets/img/loading.gif") center no-repeat;
    display: none;
}

#wrapperelem {
    overflow: hidden; /* will contain if #first is longer than #second */
}
#firstelem {
    width: 47%;
    float:left; /* add this */
}
#secondelem {
    width: 53%;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}